[client]
user			= mysql
password		= admin42
port			= 3306
socket			= /var/run/mysqld/mysqld.sock

[mysqld]
user			= mysql
pid-file		= /var/run/mysqld/mysqld.pid
socket			= /var/run/mysqld/mysqld.sock
port			= 3306
basedir			= /usr
datadir			= /var/lib/mysql
bind-address	= 0.0.0.0
